.topMenu {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.topMenu ul {
  list-style-type: none;
}

.topMenu li {
  display: inline-block;
  padding: 20px 0;
}

.menu {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
}

.link:hover {
  color: #2e86c1;
}

.icon {
  position: relative;
}
.icon-count {
  position: absolute;
  top: 17px;
  left: 9px;
  font-size: 8px;
  background: #2e86c1;
  color: #ecf0f1;
  padding: 0 3px;
  border-radius: 35%;
}

.cart-menu {
  display: grid;
  grid-gap: 5px;
  width: 400px;
  background: #d0d3d4;
  position: absolute;
  top: 60px;
  right: -500px;
  z-index: 1;
  font-size: 14px;
  color: #ecf0f1;
  padding: 0 5px;
}

.icon:hover .cart-menu {
  animation: cart 0.3s;
  animation-fill-mode: forwards;
}

.shop-li {
  position: relative;
}

.shop-dropdown {
  display: none;
  width: 200px;
  position: absolute;
  left: 0;
  top: 60px;
  z-index: 1;
}

.shop-dropdown .link {
  display: block;
  padding: 8px 12px;
  background: #ecf0f1;
}

.shop-dropdown .link {
  color: #34495e;
}

.shop-li:hover .shop-dropdown {
  display: block;
}

.shop-dropdown .link:hover {
  color: #85929e;
}

@keyframes cart {
  from {
    right: -500px;
  }

  to {
    right: 12px;
  }
}
